.partitions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
}

.partition {
    flex-grow: 1;
    background-color: lightsalmon;
}