.partitions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;
    overflow-x: auto;
}

.partition {
    flex-grow: 1;
    min-width: 1px;
    background-color: lightsalmon;
}